{% extends "base.html" %}
{% block title %}Edit Posts{% endblock %}

{% block moreScripts %}
	.js({epiceditor: "/static/js/vendor/epiceditor.min.js"})
{% endblock %}

{% block moreHead %}
	initEpicEditor();
	initPostCompose();
{% endblock %}


{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">
                <div class="large-4 columns">
                <label>Drafts</label>
                    {{form.drafts}}
                </div>

                <div class="large-2 columns">
                    <a id="post-edit-button" class="button small">Edit Draft</a>
                </div>
                
                <div class="large-6 columns"> </div>
            </div>
            {{form.hidden_tag()}}
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">
                <div class="large-4 columns">
                <label>Title</label>
                    <input type="text" id="post-field-title" placeholder="title" />
                </div>

                <div class="large-4 columns">
                    <label>Tags</label>
                    <input type="text" id="post-field-tags" placeholder="tag1, tag2, tag3..." />
                </div>

                <div class="large-2 columns">
                    <a id="post-save-button" class="button small">Save Draft</a>
                </div>
                
                <div class="large-2 columns">
                    <label> Publish {{form.dopost}} </label>
                </div>
            </div>
			<div id="epiceditor"></div>
        </div>
    </div>
</div>

{% endblock %}
