{% extends "base.html" %}
{% block title %}Posts{% endblock %}

{% block moreStyles %}
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/static/css/vendor/highlightpack/styles/solarized_dark.css" />
{% endblock %}

{% block moreScripts %}
	.js({highlight: "/static/js/vendor/highlight.pack.js"})
{% endblock %}

{% block moreHead %}
	hljs.initHighlightingOnLoad();
{% endblock %}

{% block content %}
	<div class="row">
	    <div class="large-12 large-centered small-12 columns">
	        <div class="panel">
	            <h3>WormsWords</h3>
	        </div>
	    </div>
	</div>

	{% for post in posts %}
	<div class="row">
	    <div class="large-12 large-centered small-12 columns">
	        <div class="panel">
	            <h1>{{post.title}}:</h1>
	            {% if admin %}
	            	<a href="/posts/edit?pid={{post.id}}" class="button small">Edit Draft</a>
	            {% endif %}
	            <p>Posted: {{post.posted}}</p>
	            <p>Updated: {{post.updated}}</p>
	            {{post.body|safe}}
	        </div>
	    </div>
	</div>
    {% endfor %}

{% endblock %}
