<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - verdverm.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!--  app css includes -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/static/css/vendor/normalize.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/static/css/vendor/foundation.min.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/static/css/verdverm.css" />

	{% block moreStyles %}{% endblock %}

    <script src="/static/js/vendor/head.load.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/vendor/modernizr.js" type="text/javascript" charset="utf-8"></script>

   <!-- app js/css files loaded asychronously -->
    <script>
    head.ready(function() {
        $(document).foundation();
        {% block moreHead %}{% endblock %}
    })
    head
        .js({jquery: "/static/js/vendor/jquery.js"})
        .js({foundation_js: "/static/js/vendor/foundation.min.js"})     // default foundation js

        {% block moreScripts %}{% endblock %}

        .js({ verdverm_js: "/static/js/verdverm.js"})

    </script>

</head>

<body>

	<!-- THE MENU -->

<nav class="top-bar" id="verdverm-top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="/">verdverm.com</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>

    <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
                <li><a href="/signup">Signup</a></li>
            <li class="divider"></li>
                <li><a href="/register">Register</a></li>
            <li class="divider"></li>
                <li><a href="/posts">Posts</a></li>
            <li class="divider"></li>
                <li><a href="/forum">Forums</a></li>
            <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        {% if user %}
        <ul class="right">
            <li id="menu-user" class="has-dropdown"><a href="/u">{{ user.nickname }}</a>
                <ul class="dropdown">
                    <li><a href="/u/dashboard">Dashboard</a></li>
                    <li><a href="/u/account">Account</a></li>
                    <li><a href="/u/files">Files</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                    {% if admin %}
                    <li class="divider"></li>
                    <li id="menu-admin" class="has-dropdown"><a href="/a">Admin</a>
                        <ul class="dropdown">
                            <li><a href="/posts/edit">Manage Posts</a></li>
                            <li><a href="/users">Manage Users</a></li>
                            <li><a href="/maillist">Manage Maillist</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        {%else%}
        <ul class="right">
            <li class="active"><a href="/login">Login</a></li>
        </ul>
        {%endif%}

    </section>

</nav>


    <div class="row">
        <div class="large-12 large-centered small-12 columns">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div data-alert class="alert-box">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            <a class="close">&times;</a>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>


	<!-- END OF THE MENU -->

    {% block content %}{% endblock %}

</body>

</html>
